<!DOCTYPE html>
{% load static %}
<html class="no-js" lang="en">
<head>
   <meta charset="utf-8">
	<title>Sightwave</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <link rel="stylesheet" href="{% static 'sightwave/css/base.css' %}">
   <link rel="stylesheet" href="{% static 'sightwave/css/main.css' %}">
   <link rel="stylesheet" href="{% static 'sightwave/css/vendor.css' %}">
	<script src="{% static 'sightwave/js/modernizr.js' %}"></script>
	<link rel="icon" type="image/png" href="{% static 'sightwave/favicon.png' %}">
</head>

<body id="top">
   <header>
   	<div class="row">
   		<div class="logo">
	         <a href="base.html">Sightwave</a>
	      </div>
	   	<nav id="main-nav-wrap">
				<ul class="main-navigation">
					<li class="current"><a class="smoothscroll"  href="#intro" title="">Home</a></li>
					<li><a class="smoothscroll"  href="#process" title="">About</a></li>
					<li><a class="smoothscroll"  href="#features" title="">Services</a></li>
					<li class="highlight with-sep"><a href="#cta" title="">Contact Us</a></li>
				</ul>
			</nav>
			<a class="menu-toggle" href="#"><span>Menu</span></a>
   	</div>
   </header>
   <section id="intro">
   	<div class="shadow-overlay"></div>
   	<div class="intro-content">
   		<div class="row">
   			<div class="col-twelve">
	   			<h5>Hello, welcome to Sightwave.</h5>
	   			<h1>Our services will make running your business a lot easier.</h1>
	   			<a class="button stroke smoothscroll" href="#process" title="">Learn More</a>
	   		</div>
   		</div>
   	</div>
   </section>
   <section id="process">
   	<div class="row section-intro">
   		<div class="col-twelve with-bottom-line">
   			<h5>About</h5>
   			<h1>How it works?</h1>
   			<p class="lead">Here at Sightwave we love digital marketing.</p>
   		</div>
   	</div>
   	<div class="row process-content">
   		<div class="left-side">
   			<div class="item" data-item="1">
   				<h5>Connect with us</h5>
   				<p>Tell us about your company</p>
   			</div>
   			<div class="item" data-item="2">
	   			<h5>Plan</h5>
	   			<p>Tell us about your timeline and the services you would like</p>
   			</div>
   		</div>
   		<div class="right-side">
   			<div class="item" data-item="3">
   				<h5>Develop</h5>
   				<p>Let us develop your digital strategy</p>
   			</div>
   			<div class="item" data-item="4">
   				<h5>Execute</h5>
   				<p>Release your company to the online world</p>
   			</div>
   		</div>
   		<div class="image-part"></div>
   	</div>
   </section>
	<section id="features">
		<div class="row section-intro">
   		<div class="col-twelve with-bottom-line">
   			<h5>Services</h5>
   			<h1>Great services you'll love.</h1>
   			<p class="lead">Our services are designed to help grow your business</p>
   		</div>
   	</div>
   	<div class="row features-content">
   		<div class="features-list block-1-3 block-s-1-2 block-tab-full group">
	      	<div class="bgrid feature">
	      		<span class="icon"><i class="icon-window"></i></span>
	            <div class="service-content">
	            	 <h3 class="h05">Advertising Management</h3>
		            <p>
                  Online marketing services to drive traffic and increase sales
	         		</p>
	         	</div>
				</div>
        <div class="bgrid feature">
         <span class="icon"><i class="icon-layers"></i></span>
             <div class="service-content">
               <h3 class="h05">Full Stack Application Development</h3>
               <p>Web and mobile development to meet your business needs
               </p>
             </div>
        </div>
				<div class="bgrid feature">
					<span class="icon"><i class="icon-eye"></i></span>
	            <div class="service-content">
	            	<h3 class="h05">Creative Design</h3>
		            <p>Split testing and UX/UI optimization
	         		</p>
	            </div>
			   </div>
			   <div class="bgrid feature">
			   	<span class="icon"><i class="icon-mail"></i></span>
	            <div class="service-content">
	            	<h3 class="h05">Email Marketing</h3>
		            <p>Build your subscription list to keep your customers informed and increase conversions
	        			</p>
	            </div>
			   </div>
				<div class="bgrid feature">
					<span class="icon"><i class="icon-file"></i></span>
	            <div class="service-content">
	            	<h3 class="h05">Clean Code</h3>
		            <p>Complete, easy to work with technology
	         		</p>
	            </div>
				</div>
			   <div class="bgrid feature">
			   	<span class="icon"><i class="icon-megaphone"></i></span>
	            <div class="service-content">
	            	 <h3 class="h05">Online Strategy</h3>
		            <p>Services tailored specifically for your business
	        			</p>
	            </div>
			   </div>
	      </div>
   	</div>
	</section>
   <section id="cta">
   	<div class="row cta-content">
   		<div class="col-twelve">
   			<h1 class="h01">Get started now. Contact us at info@sightwavemarketing.com</h1>
   		</div>
   	</div>
   </section>
   <footer>
   	<div class="footer-main">
   		<div class="row">
        <div class="col-two tab-1-3 mob-1-2 site-links">
          <h4>Site Links</h4>
          <ul>
            <li><a href="#intro">Intro</a></li>
            <li><a href="#process">About</a></li>
          <li><a href="#features">Services</a></li>
          <li><a href="#cta">Contact</a></li>
        </ul>

        </div>
      	<div class="col-four tab-full mob-full footer-info">
            <div class="logo"></div>
            <p>
	        	info@sightwavemarketing.com<br>
            +303-731-9109
	        	</p>
	      </div>
	      	<div class="col-two tab-1-3 mob-1-2 social-links">
	      	</div>
	      	</div>
	      </div>
   	</div>
      <div class="footer-bottom">
      	<div class="row">
      		<div class="col-twelve">
	      		<div class="copyright">
		         	<span>© Copyright Sightwave 2017.</span>
		         	<span>Design by <a href="https://sightwave.herokuapp.com/">SightWave</a></span>
		         </div>
		         <div id="go-top" style="display: block;">
		            <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon ion-android-arrow-up"></i></a>
		         </div>
	      	</div>
      	</div>
      </div>
   </footer>
   <div id="preloader">
    	<div id="loader"></div>
   </div>
   <script src="{% static 'sightwave/js/jquery-1.11.3.min.js' %}"></script>
   <script src="{% static 'sightwave/js/jquery-migrate-1.2.1.min.js' %}"></script>
   <script src="{% static 'sightwave/js/plugins.js' %}"></script>
   <script src="{% static 'sightwave/js/main.js' %}"></script>
</body>
</html>
